<ng-container>
  <app-header></app-header>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</ng-container>
<!-- 
<header class="header">
  <div class="mt-2" style="color: #fa6400">
    ONVIO
  </div>
  <div class="mt-1" style="color: white">
    PlayGround
  </div>
</header>
 <ng-container> 
<nav class="navbar">
  <a routerLink="client" class="mt-2" style="color: #A2A3A9">Clientes</a>
</nav>
<div class="mt-3" style="color: #333333">
  Listagem de Clientes
</div>
<div class="mt-2">
  <app-grid></app-grid>
</div>
</ng-container>
-->

<!-- 
  <nav class="navbar">
  <a routerLink="client" class="mt-2" style="color: #A2A3A9">Clientes</a>
  <a routerLink="job-position" class="mt-2" style="color: #A2A3A9">Cargos</a>
  <a routerLink="employee" class="mt-2" style="color: #A2A3A9">Funcionários</a>
  <a routerLink="employee-leave" class="mt-2" style="color: #A2A3A9">Afastamento de Funcionários</a>
  <div class="mt-3" style="color: #333333">
    Listagem de Clientes
  </div>
  <div class="mt-2">
    <app-grid></app-grid>
  </div>
 </ng-container>
 -->