table,th,td{
background-color: rgba(242, 242, 242, 1);
color: #333333;
text-align: left;
border: 1px solid #333333;
border-collapse: collapse;
font-family: Arial;
font-size: small;
border-color: rgba(213, 212, 217, 1);
width: 1280px;

}

th, td{
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
}
