<ng-container> 
    <nav class="navbar">
      <a class="mt-2" style="color: #A2A3A9" routerLinkActive="list-item-active" routerLink="/client">Clientes</a>
      <a class="mt-2" style="color: #A2A3A9" routerLinkActive="list-item-active" routerLink="/employee">Funcionário</a>
      <a class="mt-2" style="color: #A2A3A9" routerLinkActive="list-item-active" routerLink="/job-position">Cargo</a>
      <a class="mt-2" style="color: #A2A3A9" routerLinkActive="list-item-active" routerLink="/employee-leave">Afastamento de Funcionário</a>
    </nav>
</ng-container>